%table
  %tr
    %td.title Status:
    %td= response.status
  %tr
    %td.title Headers:
    %td= h(response.headers)
  %tr
    %td.title Body:
    %td
      %pre= partial "#{response.type}_response".to_sym, locals: { response: response }
  %tr
    %td.title Delay:
    %td= h(response.delay_in_seconds)
