%table
  %tr
    %td.title Status:
    %td= response.status
  %tr
    %td.title Headers:
    %td= h(response.headers)
  %tr
    %td.title Body:
    %td
      %pre= partial "#{response.body.short_class_name}_response".to_sym, locals: { body: response.body }
  %tr
    %td.title Delay:
    %td= h(response.delay_in_seconds)
  %tr
    %td.title Blocks:
    %td
      - response.blocks.each do |block|
        %pre= h(block.source)
